// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
    color: white;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

body {
  background: #c2522b;
}

a {
  color: #f2b875;
}
